HOSTNAME=`hostname`
HISTSIZE=100000
SAVEHIST=100000
HISTFILE=~/.zsh_history

export BLOCKSIZE=K;
export PAGER=less;
export LESS='-FRXQ'
export DELTA_PAGER="less $LESS"

export PS1="%*:%n@%m:%~%{${fg[red]}%}%B%(?..(%?%))%b%#";

{{ if eq .chezmoi.os "darwin" }}
export PATH=/opt/homebrew/bin:/opt/homebrew/sbin:/opt/homebrew/opt/gnu-sed/libexec/gnubin:/opt/homebrew/opt/make/libexec/gnubin:/opt/homebrew/opt/ruby/bin:/sbin:/usr/local/bin:/bin:/usr/sbin:/usr/bin:/opt/src:$HOME/bin:/usr/local/sbin:/usr/local/bin:$HOME/.startups:$HOME/.local/bin:$HOME/.cargo/bin:$HOME/install_src/git-fuzzy/bin:/opt/homebrew/Cellar/perl/5.34.0/bin:/opt/homebrew/Library/Homebrew/shims/gems:/opt/homebrew/Cellar/rakudo/current/share/perl6/site/bin
{{ else }}
export PATH=/usr/local/bin:/usr/bin:/usr/bin/core_perl:/usr/sbin:/sbin:/bin:$HOME/bin:/usr/local/sbin:/usr/local/bin:$HOME/.startups:$HOME/.local/bin:$HOME/.cargo/bin:$HOME/install_src/git-fuzzy/bin:/usr/bin/vendor_perl:/usr/share/perl6/site/bin/:/home/fra/.raku/bin:/home/fra/go/bin:/opt/cinc-workstation/embedded/bin
{{ end }}

export SSH_REAL_HOST=`hostname`

export LANG=en_GB.UTF-8
export LC_TIME=en_GB.UTF-8
export LC_PAPER=en_GB.UTF-8
export LC_MESSAGES=en_GB.UTF-8
export LC_CTYPE=en_GB.UTF-8
export LC_ALL=en_GB.UTF-8

export EMAIL=fra@one.com
export NAME="Martin Frausing"

export DISABLE_AUTO_TITLE=true

#colours for ls in solarised urxvt
export TERM=xterm-256color
export CLICOLOR=1

export VIRTUAL_ENV_DISABLE_PROMPT=true

if $(which nvim > /dev/null); then
    export EDITOR=nvim
else
    export EDITOR=vim
fi

if [[ -z "$REAL_GIT" ]]; then
    export REAL_GIT=`which git`
fi

PERL5LIB="~/local"

unset TMOUT

export BAT_THEME="Solarized (light)"


{{ if ne .chezmoi.os "darwin" }}
export SSH_AUTH_SOCK="$XDG_RUNTIME_DIR/ssh-agent.socket"
export REQUESTS_CA_BUNDLE=/etc/ssl/cert.pem
{{ end }}

# XDG -- https://wiki.archlinux.org/title/XDG_Base_Directory
export PSQLRC_DOCKER="$XDG_CONFIG_HOME/pg/psqlrc_docker"
export RIPGREP_CONFIG_PATH="$XDG_CONFIG_HOME/rg.rc"
export GOPATH="$XDG_DATA_HOME/go"
export GOMODCACHE="$XDG_CACHE_HOME/go/mod"
export CARGO_HOME="$XDG_DATA_HOME/cargo"
export LESSHISTFILE="$XDG_CONFIG_HOME/less/hist"
export LESSKEY="$XDG_CONFIG_HOME/less/key"
export PERL_CPANM_HOME="$XDG_CACHE_HOME"/cpanm
export DOCKER_CONFIG="$XDG_CONFIG_HOME"/docker
export XCOMPOSEFILE="$XDG_CONFIG_HOME"/X11/xcompose
