set-option -g status-keys vi
bind-key R source-file ~/.config/tmux/tmux.conf \; display-message "Reloaded config"

# To move windows run this:
# run-shell move_windows.pl
# run-shell "move_window_pushdown_others.pl 3"

#bind-key -n C-k send-keys -R \; clear-history
bind-key C send-keys -R \; clear-history
bind-key -n C-L send-keys -R \; clear-history

# lazy-tmux key bindings
bind-key f display-popup -B -E 'lazy-tmux picker'
bind-key s run-shell 'lazy-tmux save --all --scrollback && tmux display-message "All sessions saved successfully!"'

bind-key X send-keys y
{{ if eq .chezmoi.os "darwin" }}
#bind-key -tvi-copy C copy-pipe 'xclip >/dev/null' \; send-keys -R \; clear-history
bind-key -T copy-mode-vi 'y' send -X copy-selection-and-cancel
bind-key -T copy-mode-vi 'C' send -X copy-selection-and-cancel
bind-key v run "xclip -o | tmux load-buffer - ; tmux paste-buffer"
{{ else }}
{{ end }}
bind-key t run "resize_2_3.sh"

# switch windows alt+number
{{- range $i, $e := until 10 }}
bind-key -n M-{{$i}} select-window -t {{$i}}
{{- end }}
bind-key -n M-0 select-window -t 10 # override 0 to select win 10

set-option -g default-terminal "tmux-256color"
set-option -sg escape-time 10

set-option -g history-limit 100000
set-option -g renumber-windows on

set-option -g aggressive-resize on
set-option -g window-size latest # With latest, tmux uses the size of the client that had the most recent activity

set-option -g display-time 4000
set-option -g mode-keys vi

# allow vim to get FocusGained and FocusLost events
set-option -g focus-events on

# Preserve any output before running interactive commands, such as Vim.
set-window-option -g alternate-screen on

set-option -g terminal-overrides ',xterm-256color:Tc'
set-option -g default-terminal "tmux-256color"
set-option -as terminal-overrides ',xterm*:sitm=\E[3m'

set-option -g base-index 1
set-option -g pane-base-index 1

{{ if eq .chezmoi.os "darwin" }}
set-option -s copy-command 'pbcopy'
{{ else }}
set-option -s copy-command 'wl-copy'
{{ end }}

# Set window title
set-option -g set-titles on
set-option -g set-titles-string '#W'
#set-window-option -g allow-rename on
#set-window-option -g automatic-rename off
#set-option -g automatic-rename on
set-option -g allow-passthrough on
#set-option -g default-terminal "tmux-256color"
#set-option -as terminal-overrides ',xterm*:XT:sitm=\E[3m'


# Scrolling with Shift-PageUp/Shift-PageDown.
#set-option -g terminal-overrides "*rxvt*:smcup@:rmcup@"

# Toggle mouse off with ^B m
bind m \
  set-option -g mode-mouse on \;\
  display 'Mouse: ON'
# Toggle mouse off with ^B M
bind M \
  set-option -g mouse off \;\
  display 'Mouse: OFF'

set-option -g mouse off
#unbind-key WheelDown
#unbind-key WheelUpPane

# Copy and pasting
bind-key -T copy-mode-vi 'v' send -X begin-selection
bind -T copy-mode-vi 'y' send -X copy-pipe 'xclip >/dev/null'
bind -T copy-mode-vi 'r' send -X rectangle-toggle

#unbind-key -tvi-copy Enter
unbind-key -T copy-mode-vi Space

set-option -g @yank_selection "primary"

# switch between windows with alt+left/right and pane with alt+up/down
bind-key -n M-Right next
bind-key -n M-Left prev
bind-key -n M-Up select-pane -t :.+
bind-key -n M-Down select-pane -t :.-

set-environment -g TMUX_PLUGIN_MANAGER_PATH '~/.local/share/tmux/plugins'

# List of plugins
# Supports `github_username/repo` or full git URLs
set-option -g @plugin 'tmux-plugins/tpm'
set-option -g @plugin 'tmux-plugins/tmux-sensible'
set-option -g @plugin 'tmux-plugins/tmux-yank'
set-option -g @plugin 'tmux-plugins/tmux-copycat'
set-option -g @plugin 'tmux-plugins/tmux-sidebar'
# set-option -g @plugin 'fcsonline/tmux-thumbs'
set-option -g @plugin 'tmux-plugins/tmux-prefix-highlight'
set-option -g @plugin 'laktak/extrakto'
# set-option -g @plugin 'tmux-plugins/tmux-resurrect'
# set-option -g @plugin 'tmux-plugins/tmux-continuum'
set-option -g @plugin 'openjck/tmux-one'
set-option -g @plugin 'christoomey/vim-tmux-navigator'
#set-option -g @plugin 'seebi/tmux-colors-solarized'
#set-option -g @plugin 'jtbairdsr/tmux-inactive-panes'
#set-option -g @plugin 'jbnicolai/tmux-fpp'
#set-option -g @plugin 'git@github.com:Morantron/tmux-fingers'


# thumbs
set-option -g @thumbs-unique enabled
{{- if eq .chezmoi.os "darwin" }}
set-option -g @thumbs-command 'echo -n {} | pbcopy'
{{- else }}
set-option -g @thumbs-command 'echo -n {} | wl-copy'
{{- end }}

# resurrect continuum
set-option -g @continuum-restore 'on'
set-option -g @continuum-save-interval '10'
set-option -g @resurrect-strategy-nvim 'session'
set-option -g @resurrect-capture-pane-contents 'on'
set-option -g @resurrect-processes 'vi vim nvim emacs man less more tail top htop irssi weechat mutt ssh make perl nv atuin'
set-option -g @resurrect-dir '~/.local/share/tmux/resurrect'
#https://github.com/spywhere/tmux-named-snapshot

#TEST
set-option -g @colors-solarized 'light'

#fpp
set-option -g @fpp-key 'f'

#fingers
set-option -g @fingers-compact-hints 0
set-option -g @fingers-hint-position-nocompact "left"
set-option -g @fingers-hint-format-nocompact "#[fg=blue,bold][%s]"
set-option -g @fingers-pattern-0 '(pbi[[:digit:]]+)'
set-option -g @fingers-pattern-1 'git rebase --(abort|continue)'

run-shell ~/.local/share/tmux/plugins/tmux-thumbs/tmux-thumbs.tmux

set-option -g @vim_navigator_mapping_left "C-Left C-h"  # use C-h and C-Left
set-option -g @vim_navigator_mapping_right "C-Right C-l"
set-option -g @vim_navigator_mapping_up "C-k"
set-option -g @vim_navigator_mapping_down "C-j"
set-option -g @vim_navigator_mapping_prev ""  # removes the C-\ binding
is_vim='echo "#{pane_current_command}" | grep -iqE "(^|\/)g?(view|n?vim?x?)(diff)?$"'
#bind -n C-h if-shell "$is_vim" "send-keys C-h" "select-pane -L"
#bind -n C-j if-shell "$is_vim" "send-keys C-j" "select-pane -D"
#bind -n C-k if-shell "$is_vim" "send-keys C-k" "select-pane -U"
#bind -n C-l if-shell "$is_vim" "send-keys C-l" "select-pane -R"
#bind -n C-\ if-shell "$is_vim" "send-keys C-\\" "select-pane -l"

#  tmux-plugins/tmux-sensible       \
# Other examples:
# github_username/plugin_name    \
# git@github.com/user/plugin     \
# git@bitbucket.com/user/plugin  \

#set-option -g pane-border-bg colour235
#set-option -g pane-border-fg colour238
#set-option -g pane-active-border-bg colour236
#set-option -g pane-active-border-fg colour51
#set-option -g display-panes-colour brightred #orange
#set-option -g window-style 'fg=colour247,bg=colour236'
#set-option -g window-active-style 'fg=colour250,bg=black'

# try hard to make colours work and generally ansi codes within tmux
set-option -g default-terminal "xterm-256color"
set-option -as terminal-overrides ',*:Setulc=\E[58::2::%p1%{65536}%/%d::%p1%{256}%/%{255}%&%d::%p1%{255}%&%d%;m'  # colored underscores
set-option -as terminal-overrides ',xterm-256color:RGB' # true-color support
#set-option -ga terminal-overrides ",xterm-256color:RGB:sitm=\E[3m"

#\"#22T\"
set-option -g status-right "#[fg=colour11,bg=colour7,nobold,nounderscore,noitalics]#[fg=colour7,bg=colour11] #{prefix_highlight} | #{continuum_status} | %H:%M %d-%b-%y "

run-shell -b 'lazy-tmux daemon --interval 3m --scrollback >/tmp/lazy-tmux.log 2>&1 || tmux display-message "lazy-tmux daemon already running"'
run-shell -b 'lazy-tmux bootstrap --session last >/tmp/lazy-tmux-bootstrap.log 2>&1'

# initializes TMUX plugin manager
run -b '~/.local/share/tmux/plugins/tpm/tpm'
